openapi: 3.1.0
info:
  title: Capital Bridge Solutions - DSCR Loan Expert
  description: |
    Expert DSCR loan advisor for real estate investors. 
    
    We specialize in:
    - DSCR loans (no income verification)
    - Fix & Flip financing
    - Hard Money loans
    - Airbnb/Short-term rental financing
    
    Our advantages:
    - Only 0.75% origination fee (vs 2-3 points competitors)
    - Rates starting at 5.99%
    - Up to 85% LTV (vs 75% industry standard)
    - 7-14 day closes
    - 620+ credit score minimum
  version: 1.0.0
  contact:
    name: Capital Bridge Solutions
    url: https://www.capitalbridgesolutions.com
    email: team@capitalbridgesolutions.com

servers:
  - url: https://www.capitalbridgesolutions.com
    description: Production server

paths:
  /api/knowledge/search:
    post:
      operationId: searchKnowledgeBase
      summary: Search DSCR loan knowledge base
      description: |
        Search our comprehensive knowledge base of 106 articles covering:
        - DSCR loan requirements and rates
        - Credit score scenarios (620+ minimum)
        - Property types (Airbnb, multi-family, fix & flip)
        - Self-employed investor scenarios
        - State-specific guides (TX, FL, AZ, GA, NV, CA)
        - Comparisons (DSCR vs conventional, vs hard money)
        - Tax benefits and portfolio strategies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: Search query (e.g., "620 credit score requirements", "Airbnb DSCR loans")
                topK:
                  type: integer
                  description: Number of results to return (default 3)
                  default: 3
              required:
                - query
      responses:
        '200':
          description: Search results from knowledge base
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        content:
                          type: string
                        url:
                          type: string
                        relevance:
                          type: number
        '400':
          description: Bad request
        '500':
          description: Server error

  /api/contact:
    post:
      operationId: submitContactForm
      summary: Submit investor inquiry
      description: |
        Submit investor contact information for loan pre-qualification.
        Our team will respond within 2 hours during business hours.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                formType:
                  type: string
                  enum: [loan, consultation]
                  description: Type of inquiry
                data:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Investor's full name
                    email:
                      type: string
                      format: email
                      description: Email address
                    phone:
                      type: string
                      description: Phone number
                    loanType:
                      type: string
                      enum: [DSCR, "Fix & Flip", "Hard Money", "Balloon Refi"]
                      description: Type of loan needed
                    propertyType:
                      type: string
                      description: Property type (e.g., single-family, multi-family, Airbnb)
                    loanAmount:
                      type: string
                      description: Estimated loan amount needed
                    creditScore:
                      type: string
                      description: Approximate credit score range
                    message:
                      type: string
                      description: Additional details or questions
                  required:
                    - name
                    - email
                    - phone
              required:
                - formType
                - data
      responses:
        '200':
          description: Contact form submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
        '400':
          description: Invalid form data
        '500':
          description: Server error

  /api/quotes:
    post:
      operationId: getDSCRQuote
      summary: Request an instant conditional DSCR loan quote
      description: |
        Calculate loan-to-value (LTV), interest rate, and DSCR ratio based on property scenarios.
        No income verification or tax returns are required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                property_type:
                  type: string
                  enum: [SingleFamily, MultiFamily, Condo, Townhouse]
                  description: The type of investment property
                purchase_price:
                  type: number
                  description: Purchase price or property value
                estimated_rent:
                  type: number
                  description: Projected monthly rental income
                estimated_credit_score:
                  type: integer
                  description: Approximate credit score (FICO) of borrower (620+ minimum)
                state:
                  type: string
                  description: Two-letter state code (e.g., CA, TX, FL)
                is_short_term_rental:
                  type: boolean
                  description: Set to true if property is operated as an Airbnb/STR
              required:
                - property_type
                - purchase_price
                - estimated_rent
                - estimated_credit_score
                - state
                - is_short_term_rental
      responses:
        '200':
          description: A conditional loan pre-approval quote
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  quote_id:
                    type: string
                    description: Stateless quote token containing encrypted scenario details. Use this to lock the rate.
                  estimated_rate:
                    type: string
                  loan_to_value:
                    type: string
                  requires_w2:
                    type: boolean
                  dscr_ratio:
                    type: number
                  message:
                    type: string
                  action_required:
                    type: object
        '400':
          description: Invalid query options
        '500':
          description: Server error

  /api/quotes/lock:
    post:
      operationId: lockDSCRRate
      summary: Submit a DSCR interest rate lock request for human review
      description: |
        Provide the borrower's contact info and the quote_id to submit a rate lock request.
        This writes the lead and rate lock request transaction to the database, dispatches alert notifications,
        and queues it for manual loan officer review.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quote_id:
                  type: string
                  description: The stateless token returned from /api/quotes
                borrower:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Borrower's full name
                    email:
                      type: string
                      format: email
                      description: Borrower's email address
                    phone:
                      type: string
                      description: Borrower's phone number
                  required:
                    - name
                    - email
                    - phone
              required:
                - quote_id
                - borrower
      responses:
        '200':
          description: Rate lock request submitted successfully for review
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Will return 'pending_review' when queued for review.
                  message:
                    type: string
                    description: Instruction message for the borrower.
        '400':
          description: Invalid quote signature or borrower info
        '500':
          description: Server error

components:
  schemas:
    KnowledgeResult:
      type: object
      properties:
        title:
          type: string
          description: Article title
        content:
          type: string
          description: Relevant content excerpt
        url:
          type: string
          description: Link to full article
        relevance:
          type: number
          description: Relevance score (0-100)
    
    ContactSubmission:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        loanType:
          type: string
        message:
          type: string
