{"openapi":"3.0.1","info":{"title":"SDP Property","description":"SDP Property API.","version":"v2.0"},"servers":[{"url":"https://property.corelogicapi.com"}],"tags":[{"name":"property-controller","description":"Property Controller"},{"name":"building-controller","description":"Building Controller"},{"name":"voluntary-liens-controller","description":"Voluntary Liens Controller"},{"name":"document-image-controller","description":"Document Image Controller"},{"name":"site-location-controller","description":"Site Location Controller"},{"name":"solar-and-pace-controller","description":"Solar and PACE Controller"},{"name":"ownership-controller","description":"Ownership Controller"},{"name":"ownership-transfers-controller","description":"Ownership Transfers Controller"},{"name":"climate risk analytics-controller","description":"Climate Risk Analytics Controller"},{"name":"mortgage-controller","description":"Mortgage Controller"},{"name":"property-detail-controller","description":"Property Detail Controller"},{"name":"property-comparables-controller","description":"Property Comparables Controller"},{"name":"building-permits-controller","description":"Building Permits Controller"},{"name":"involuntary-liens-controller","description":"involuntary liens Controller"},{"name":"transaction-history-controller","description":"Transaction History Controller"},{"name":"enriched-voluntary-liens-controller","description":"Enriched Voluntary Liens Controller"},{"name":"propensity-controller","description":"Propensity Controller"},{"name":"tax-assessment-controller","description":"Tax Assessment Controller"}],"paths":{"/v2/properties/search":{"get":{"tags":["property-controller"],"summary":"Property search by address, city, state, zip code and apn","description":"This API returns a list of properties that match the given search criteria.<br>\n<br>\nTo search for Properties by address, one of the following minimum search criteria must be specified:\n<ul>\n<li>{streetAddress, city, state}</li>\n<li>{streetAddress, zipCode}</li>\n</ul>\nTo search for Properties by Assessor Parcel Number (APN), one of the following minimum search criteria must be specified:\n<ul>\n<li>{apn, state, county}</li>\n<li>{apn, zipCode}</li>\n<li>{apn, countyCode}</li>\n</ul>\nBest Match: Addresses may match to more than one property. When true is provided for bestMatch, a single, best matched property is returned. When false is provided for bestMatch, all matched properties are returned. This is an optional field and if left blank, defaults to 'false'.\n<br><br>\nIt is recommended that you provide as many attributes as possible to improve the accuracy of the results.","operationId":"Property Search","parameters":[{"name":"streetAddress","in":"query","description":"Address line of the address","required":false,"schema":{"type":"string"},"example":123},{"name":"city","in":"query","description":"Name of the City","required":false,"schema":{"type":"string"},"example":"SANTA MONICA"},{"name":"state","in":"query","description":"State code (exact match)","required":false,"schema":{"type":"string","enum":["AL","AK","AB","AS","AZ","AR","AE","AA","AP","BC","CA","CO","CT","DE","DC","FL","GA","GU","HI","ID","IL","IN","IA","KS","KY","LA","ME","MB","MD","MA","MI","MN","MS","MO","MT","NE","NV","NB","NH","NJ","NM","NY","NF","NC","ND","NT","NS","NU","OH","OK","ON","OR","PA","PE","PR","QC","RI","SK","SC","SD","TN","TX","UT","VT","VI","VA","WA","WV","WI","WY","YT"]}},{"name":"zipCode","in":"query","description":"5-digit ZIP code (exact match)","required":false,"schema":{"type":"string","format":"\\d{5}"},"example":90210},{"name":"apn","in":"query","description":"APN of the property","required":false,"schema":{"type":"string"},"example":"123-0-456-545"},{"name":"county","in":"query","description":"Name of the County (exact match)","required":false,"schema":{"type":"string"},"example":"ORANGE"},{"name":"countyCode","in":"query","description":"County code","required":false,"schema":{"type":"string"},"example":"OC"},{"name":"bestMatch","in":"query","description":"true/false, true is required for bestMatch only, default is false","required":false,"schema":{"type":"string","default":"false"},"example":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"400":{"description":"BAD REQUEST","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMessage"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertySearchProduct"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"property_auth":[]}]}},"/v2/properties/search/owner":{"get":{"tags":["property-controller"],"summary":"Property search by Address or APN or Owner","description":"This API returns a list of properties that match the given search criteria.<br>\n<br>\nTo search for Properties by address, one of the following minimum search criteria must be specified:\n<ul>\n<li>{streetAddress, city, state}</li>\n<li>{streetAddress, zipCode}</li>\n</ul>\nTo search for Properties by Assessor Parcel Number (APN), one of the following minimum search criteria must be specified:\n<ul>\n<li>{apn, state, county}</li>\n<li>{apn, zipCode}</li>\n<li>{apn, countyCode}</li>\n</ul>\nTo search for Properties by address and Owner, the following minimum search criteria must be specified: \n<ul>\n<li>{streetAddress, city, state, Name (format below)}</li>\n<li>{streetAddress, zipCode, Name (format below)}</li>\n<li>Full name: LastName FirstName MiddleInitial (no punctuations) recommended\nPartial name: LastName or FirstName</li>\n</ul>\nIt is recommended that you provide as many attributes as possible to improve the accuracy of the results.","operationId":"Property Search By Owner(s)","parameters":[{"name":"streetAddress","in":"query","description":"Address line of the address","required":false,"schema":{"type":"string"},"example":123},{"name":"city","in":"query","description":"Name of the City","required":false,"schema":{"type":"string"},"example":"SANTA MONICA"},{"name":"state","in":"query","description":"State code (exact match)","required":false,"schema":{"type":"string","enum":["AL","AK","AB","AS","AZ","AR","AE","AA","AP","BC","CA","CO","CT","DE","DC","FL","GA","GU","HI","ID","IL","IN","IA","KS","KY","LA","ME","MB","MD","MA","MI","MN","MS","MO","MT","NE","NV","NB","NH","NJ","NM","NY","NF","NC","ND","NT","NS","NU","OH","OK","ON","OR","PA","PE","PR","QC","RI","SK","SC","SD","TN","TX","UT","VT","VI","VA","WA","WV","WI","WY","YT"]},"example":"CA"},{"name":"zipCode","in":"query","description":"5-digit ZIP code (exact match)","required":false,"schema":{"type":"string","format":"\\d{5}"},"example":90210},{"name":"apn","in":"query","description":"APN of the property","required":false,"schema":{"type":"string"},"example":"123-0-456-545"},{"name":"owner","in":"query","description":"Supports up to two owners (separated by a comma) using the following formats: By full name: LastName FirstName MiddleInitial (Example: Smith John A, Jones Brenda P) By last name: LastName (Example: Smith, Jones) By combo of full name and last name or reverse: (Example1: Smith John A, Jones or Example2: Smith, Jones Brenda P)","required":false,"schema":{"type":"array","items":{"type":"string"}},"example":"John Doe"},{"name":"county","in":"query","description":"Name of the County (exact match)","required":false,"schema":{"type":"string"},"example":"ORANGE"},{"name":"countyCode","in":"query","description":"County code","required":false,"schema":{"type":"string"},"example":"OC"}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"400":{"description":"BAD REQUEST","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMessage"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertySearchByOwnerNameProduct"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"property_auth":[]}]}},"/v2/properties/search/geocode":{"get":{"tags":["property-controller"],"summary":"Property search by address, city, state, zip code and apn with Geocode results","description":"This API returns a list of properties that match the given search criteria.<br>\n<br>\nTo search for Properties by address, one of the following minimum search criteria must be specified:\n<ul>\n<li>{streetAddress, city, state}</li>\n<li>{streetAddress, zipCode}</li>\n</ul>\nTo search for Properties by Assessor Parcel Number (APN), one of the following minimum search criteria must be specified:\n<ul>\n<li>{apn, state, county}</li>\n<li>{apn, zipCode}</li>\n<li>{apn, countyCode}</li>\n</ul>\nBest Match: Addresses may match to more than one property. When true is provided for bestMatch, a single, best matched property is returned. When false is provided for bestMatch, all matched properties are returned. This is an optional field and if left blank, defaults to 'false'.\n<br><br>\nIt is recommended that you provide as many attributes as possible to improve the accuracy of the results.","operationId":"Geocode","parameters":[{"name":"streetAddress","in":"query","description":"Address line of the address","required":false,"schema":{"type":"string"},"example":123},{"name":"city","in":"query","description":"Name of the City","required":false,"schema":{"type":"string"},"example":"SANTA MONICA"},{"name":"state","in":"query","description":"State code (exact match)","required":false,"schema":{"type":"string","enum":["AL","AK","AB","AS","AZ","AR","AE","AA","AP","BC","CA","CO","CT","DE","DC","FL","GA","GU","HI","ID","IL","IN","IA","KS","KY","LA","ME","MB","MD","MA","MI","MN","MS","MO","MT","NE","NV","NB","NH","NJ","NM","NY","NF","NC","ND","NT","NS","NU","OH","OK","ON","OR","PA","PE","PR","QC","RI","SK","SC","SD","TN","TX","UT","VT","VI","VA","WA","WV","WI","WY","YT"]}},{"name":"zipCode","in":"query","description":"5-digit ZIP code (exact match)","required":false,"schema":{"type":"string","format":"\\d{5}"},"example":90210},{"name":"apn","in":"query","description":"APN of the property","required":false,"schema":{"type":"string"},"example":"123-0-456-545"},{"name":"county","in":"query","description":"Name of the County (exact match)","required":false,"schema":{"type":"string"},"example":"ORANGE"},{"name":"countyCode","in":"query","description":"County code","required":false,"schema":{"type":"string"},"example":"OC"},{"name":"bestMatch","in":"query","description":"true/false, true is required for bestMatch only, default is false","required":false,"schema":{"type":"string","default":"false"},"example":true}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"400":{"description":"BAD REQUEST","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseMessage"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeocodeProduct"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"property_auth":[]}]}},"/v2/properties/typeahead":{"get":{"tags":["type-ahead-controller"],"summary":"AddressTypeAhead","description":"This API allows the client to type in a string address (any partial address).The data will return up to 10 address matches in which client may select appropriate match.  In addition this will include both the CLIP and V1 Identifier for each address.","operationId":"Address Type Ahead","parameters":[{"name":"input","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal server error","content":{}},"400":{"description":"Bad request","content":{}},"404":{"description":"Not found","content":{}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TypeAheadResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/building-permits":{"get":{"tags":["building-permits-controller"],"summary":"BuildingPermits","description":"Includes up to 4 owners, owner addresses and other owner details on over 152 million residential and non-residential properties.","operationId":"Building Permits","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildingPermits"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/buildings":{"get":{"tags":["building-controller"],"summary":"Buildings","description":"Includes building features and attributes for each building on a parcel to provide expansive building details. Ideal for both residential and commercial properties.","operationId":"Buildings","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildingResponseData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clipId}/comparables":{"get":{"tags":["property-comparables-controller"],"description":"Comparables API provides comparable data on recently sold properties that are in proximity to the subject property (CLIP).  \nAdditional filters that can be applied include Number of Bedrooms/Bathrooms; Property Square Footage; \nNumber of Properties returned and other filters.","operationId":"Comparables","parameters":[{"name":"clipId","in":"path","description":"The id of property which is a subject for search for similar properties.","required":true,"schema":{"type":"string"}},{"name":"minBeds","in":"query","description":"Minimum bedrooms for search.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"maxBeds","in":"query","description":"Maximum bedrooms for search.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"minBaths","in":"query","description":"Minimum bathrooms for search.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"maxBaths","in":"query","description":"Maximum bathrooms for search.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"minBldgSqFt","in":"query","description":"Minimum building square feet for search.","required":false,"schema":{"type":"number"}},{"name":"maxBldgSqFt","in":"query","description":"Maximum building square feet for search.","required":false,"schema":{"type":"number"}},{"name":"bldgSqFtVariance","in":"query","description":"Building Square Feet variance in percentage. If supplied, this will not override values specified in minBldgSqFt and maxBldgSqFt.","required":false,"schema":{"type":"number"}},{"name":"minLotSqFt","in":"query","description":"Minimum lot square feet for search.","required":false,"schema":{"type":"number"}},{"name":"maxLotSqFt","in":"query","description":"Maximum lot square feet for search.","required":false,"schema":{"type":"number"}},{"name":"lotSqFtVariance","in":"query","description":"Lot Square Feet variance in percentage. If supplied, this will not override values specified in minLotSqFt and maxLotSqFt.","required":false,"schema":{"type":"number"}},{"name":"searchDistance","in":"query","description":"Maximum distance in miles from subject property for search radius. Default is 0.5 miles.","required":false,"schema":{"type":"number","default":0.5}},{"name":"maxComps","in":"query","description":"Maximum number of comparables returned.  Default is 10. Max is 100.","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"monthsBack","in":"query","description":"Number of months back to search for comparable sales. Default is 9. Max is 36.","required":false,"schema":{"type":"integer","format":"int32","default":9}},{"name":"landUse","in":"query","description":"Land use code for search. Default is same as subject property.","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","description":"Sort By Distance (ascending) and Sale_Date (latest first)","required":false,"schema":{"type":"string","enum":["Distance","Sale_Date"]}}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyComparablesRootResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/climate-risk-analytics/ar6/comprehensive":{"get":{"tags":["climate risk analytics-controller"],"summary":"CRA-AR6-Comprehensive","description":"Climate Risk Analytics AR6 API delivers comprehensive parcel-level climate risk metrics across multiple Shared Socioeconomic Pathways (SSPs) to provide both current and future projections for climate risk impact. This includes individual hazard impacts along with Composite Risk Scores with financial impacts.","operationId":"CRA-AR6-Comprehensive","parameters":[{"name":"clip","in":"path","description":"CoreLogic Unique identification number assigned to each property.","required":true,"schema":{"type":"string"},"example":7462746445}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClimateRiskAR6ClientResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/climate-risk-analytics/ar5/comprehensive":{"get":{"tags":["climate risk analytics-controller"],"summary":"Climate Risk Analytics - Comprehensive","description":"Climate Risk Analytics AR5 Comprehensive delivers property climate risk metrics including Composite Risk Score (CRS), scaled 1-100 representing the total risk to a property from all hazards, Average Annual Loss (AAL) per year and peril and Probable Maximum Loss (PML) outputs across multiple (50/100/250/500 year) time horizons, for approximately 140 million parcels across the U.S.  CoreLogic&apos;s physical risk model combines our proprietary datasets and models into a comprehensive single score that incorporates the following hazards: Earthquake, Wildfire, Inland Flood, Severe Convective Storm, Winter Storm, Hurricane/Tropical Storm Surge and Hurricane/Tropical Storm Wind.  Additionally, Representative Concentration Pathways (2.6, 4.5, and 8.5) prescribed by the Intergovernmental Panel on Climate Change (IPCC) model out forecasted hazard changes for the current year and years 2030, 2040 and 2050.  These metrics incorporate IPCC scenarios overlaid with CoreLogic&apos;s proprietary suite of hazard risk data & analytics and catastrophe models.  The result is climate risk metrics for each RCP scenario, down to the individual property level.  These economic measures are used in insurance markets, in the housing ecosystem and by financial services prudential regulators for supervisory stress testing and oversight.  The measures are also used by government agencies planning and maintaining infrastructure programs and by corporations.","operationId":"CRA-AR5-Comprehensive","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CraComprehensiveAllDataResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/mortgage/current":{"get":{"tags":["mortgage-controller"],"summary":"CurrentMortgage","description":"Current Mortgage API provides a view of current open mortgages for a given subject property. Transactions include Primary/Junior mortgages & Purchase/Refi/Helocs. Details include borrower names, lender details with NMLS IDs, type of loan secured (e.g., conventional, FHA, VA), mortgage rate type, mortgage purpose (cash out first, consolidation, standalone subordinate, etc.), mortgage ARM features and mortgage indicators such as fixed rate, conforming loan, construction loan, private party and other indicators.","operationId":"Current Mortgage","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"integer","format":"int64"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MortgageTransactionProduct"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/liens/involuntary-liens/{clipId}":{"get":{"tags":["involuntary-liens-controller"],"description":"Involuntary Liens API provides a broad look into the status of non-Voluntary Liens related to a subject property (CLIP). Below are the liens included in this product.<br><br><b>Property HOA Liens:</b> HOA Liens are placed against a property by the Homeowners Association for unpaid HOA dues.<br><b>Property Mechanics Liens:</b> Mechanic's Liens are placed against a property by Service Companies for unpaid service fees.<br><b>Property Tax Liens:</b> Tax liens are placed against property by Taxing Authority for unpaid property taxes.","operationId":"Involuntary Liens","parameters":[{"name":"clipId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoluntaryLiensRootResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/mortgage":{"get":{"tags":["mortgage-controller"],"summary":"MortgageHistory","description":"Mortgage History API provides nationwide property mortgage data for up to 50 years. Transactions include Primary/Junior mortgages & Purchase/Refi/Helocs. Details include borrower names, lender details with NMLS IDs, type of loan secured (e.g., conventional, FHA, VA), mortgage rate type, mortgage purpose (cash out first, consolidation, standalone subordinate, etc.), mortgage ARM features and mortgage indicators such as fixed rate, conforming loan, construction loan, private party and other indicators.","operationId":"Mortgage History","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"integer","format":"int64"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MortgageTransactionProduct"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/liens":{"get":{"tags":["voluntary-liens-controller"],"summary":"Open Lien Equity and LTV Summary","description":"Provides a summary view of a Property with number of Open Liens, Purchase Amount, Original Loan to Value (LTV), Estimated Equity and Estimated Loan to Value (LTV).","operationId":"Open Lien Equity and LTV Summary","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleApiResponseLiensData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/liens/enriched/{clip}":{"get":{"tags":["enriched-voluntary-liens-controller"],"summary":"Open Voluntary Liens Enriched Risk Management","description":"Open Voluntary Liens Enriched delivers data for properties which have 'open' mortgage liens and includes, estimated Unpaid Principal Balance (UPB) and estimated Present Loan to Value (PLTV), open voluntary (mortgage) liens and lender intelligence.","operationId":"Open Voluntary Liens Enriched","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleApiResponseEnrichedLiensRiskData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/ownership":{"get":{"tags":["ownership-controller"],"summary":"Ownership","description":"Includes up to 4 owners, owner addresses and other owner details on over 152 million residential and non-residential properties.","operationId":"Ownership","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnershipResponseData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/ownership-transfers/{saleType}/{latest}":{"get":{"tags":["ownership-transfers-controller"],"summary":"Ownership Transfers","description":"<p>Owner Transfer delivers buyer, seller, and transfer details on property transactions for sales and ownership transfers covering up to 50 years of sales history. Transactions include the individual change of ownership from both arms-length and non-arms-length transactions and includes all sales transactions including cash, quitclaims, trust transfers, etc. with or without a mortgage(s).</p>\n<table>\n<tr>\n<td>\n<table style=\"border-color: black; border-collapse: collapse;\" border=\"1\" cellpadding=\"5\">\n<tbody>\n<tr style=\"height: 35px;\">\n<td style=\"height: 35px;\" width=\"102\">\n<p><strong>Sale Type</strong></p>\n</td>\n<td style=\"height: 35px;\" width=\"96\">\n<p><strong>Values</strong></p>\n</td>\n</tr>\n<tr style=\"height: 35px;\">\n<td style=\"height: 35px;\" width=\"102\">\n<p>Market Sale</p>\n</td>\n<td style=\"height: 35px;\" width=\"96\">\n<p>market</p>\n</td>\n</tr>\n<tr style=\"height: 35px;\">\n<td style=\"height: 35px;\" width=\"102\">\n<p>All Transfers</p>\n</td>\n<td style=\"height: 35px;\" width=\"96\">\n<p>all</p>\n</td>\n</tr>\n</tbody>\n</table>\n</td>\n<td/>\n<td>\n<table style=\"border-color: black; border-collapse: collapse; float: left;\" border=\"1\" cellpadding=\"5\">\n<tbody>\n<tr style=\"height: 35px;\">\n<td style=\"height: 35px;\" width=\"102\">\n<p><strong>Range</strong></p>\n</td>\n<td style=\"height: 35px;\" width=\"96\">\n<p><strong>Values</strong></p>\n</td>\n</tr>\n<tr style=\"height: 35px;\">\n<td style=\"height: 35px;\" width=\"102\">\n<p>Most Recent</p>\n</td>\n<td style=\"height: 35px;\" width=\"96\">\n<p>latest</p>\n</td>\n</tr>\n<tr style=\"height: 35px;\">\n<td style=\"height: 35px;\" width=\"102\">\n<p>Historical</p>\n</td>\n<td style=\"height: 35px;\" width=\"96\">\n<p>(default)</p>\n</td>\n</tr>\n</tbody>\n</table>\n</td>\n</tr>\n</table>\n<br />\n<p><strong>Last Market Sale</strong></p>\n<p>URL: GET ...v2/properties/:clip/ownership-transfers/market/latest</p>\n<p><strong>Most Recent Owner Transfer</strong></p>\n<p>URL: GET ...v2/properties/:clip/ownership-transfers/all/latest</p>\n<p><strong>Owner Transfer History</strong></p>\n<p>URL: GET ...v2/properties/:clip/ownership-transfers/all</p>\n<p><strong>Sales History</strong></p>\n<p>URL: GET ...v2/properties/:clip/ownership-transfers/market</p>","operationId":"Ownership Transfers","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973},{"name":"saleType","in":"path","description":"Sale type","required":true,"schema":{"type":"string","enum":["market","non-market","all"]},"example":"all"},{"name":"latest","in":"path","description":"latest or leave blank for Historical","required":true,"schema":{"type":"string"},"example":"latest"}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnershipTransfersProduct"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/propensity-scores/{clip}/heloc-score":{"get":{"tags":["propensity-controller"],"summary":"Heloc Propensity Score by clip","description":"This Propensity Score delivers insight on the likelihood of an event occurring in the next six months, giving a competitive edge to your business. Gain insight by knowing the Propensity that an equity line of credit will opened for the property (in the next six months)","operationId":"Propensity to HELOC","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleApiResponsePropensityData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/propensity-scores/{clip}/rent-score":{"get":{"tags":["propensity-controller"],"summary":"Rent Propensity Score by clip","description":"This Propensity Score delivers insight on the likelihood of an event occurring in the next six months, giving a competitive edge to your business. Gain insight by knowing the Propensity of the property to be listed for rent (in the next 6 months)","operationId":"Propensity to List for Rent","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleApiResponsePropensityData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/propensity-scores/{clip}/sale-score":{"get":{"tags":["propensity-controller"],"summary":"Sales Propensity Score by clip","description":"This Propensity Score delivers insight on the likelihood of an event occurring in the next six months, giving a competitive edge to your business. Gain insight by knowing the Propensity of the property to be listed for sale (in the next 6 months)","operationId":"Propensity to List for Sale","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleApiResponsePropensityData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/propensity-scores/{clip}/purchase-score":{"get":{"tags":["propensity-controller"],"summary":"Purchase Propensity Score by clip","description":"This Propensity Score delivers insight on the likelihood of an event occurring in the next six months, giving a competitive edge to your business. Gain insight by knowing the Propensity for the household to apply for a new purchase loan (in the next 6 months)","operationId":"Propensity to Purchase Mortgage","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleApiResponsePropensityData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/propensity-scores/{clip}/refinance-score":{"get":{"tags":["propensity-controller"],"summary":"Refinance Propensity Score by clip","description":"This Propensity Score delivers insight on the likelihood of an event occurring in the next six months, giving a competitive edge to your business. Gain insight by knowing the Propensity that the property will be the subject of a refinance loan (closed, in the next six months)","operationId":"Propensity to Refinance","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleApiResponsePropensityData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/property-detail":{"get":{"tags":["property-detail-controller"],"summary":"Property Detail query for multiple blocks and products.","description":"Nationwide, comprehensive property data for over 152 million parcels is available with Property from CoreLogic. This product delivers a robust set of property records which includes parcel and subdivision information, geospatial data, property owner and owner mailing details, property value and tax information including tax assessment, tax amount and tax exemption indicators and an extensive set of property characteristics that describe the property's structure attributes. The data also includes the most recent purchase transaction information including sale recording date, sale amount, seller name and more. Please note, Property Detail report is a composite report that comprises of 6 other individual reports Buildings, Last Market Sale, Most Recent Owner Transfer, Ownership,Site-Location and Tax Assessments.","operationId":"Property Detail","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PropertyDetailResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/document-images/{product}":{"get":{"tags":["document-image-controller"],"description":"Document Images API V2 provides direct access to retrieve document images for a variety of property-related document types. These images are recorded at the county-level and include real property records, also known as 'official records.' Images include hundreds of recorded document types  including deeds, mortgages, liens, releases, assignments, transfers, etc.<br>\n<br>\nTo search for Documents, the following minimum search criteria must be specified:<br>\n<br>\n<ul>\n<li>{Recorded Document Images Product}</li>\n<li>{Fips Code}</li>\n<li>{Recording Date}</li>\n<li>{Document Number}</li>\n</ul>\nAdditionally, one or more of the following optional search criteria to filter the result set can be specified:<br>\n<br>\n<ul>\n<li>{Secondary Document Number}</li>\n<li>{Document Type}</li>\n<li>{Output Type}</li>\n</ul>\nIt is recommended that you provide as many attributes as possible to improve the accuracy of the results.","operationId":"Recorded Document Images","parameters":[{"name":"product","in":"path","required":true,"schema":{"type":"string","enum":["Cascade","Tier1","Tier2","Tier3"]}},{"name":"fipsCode","in":"query","description":"5 digits; first two identify State, next three identify County","required":true,"schema":{"type":"string"}},{"name":"recordingDate","in":"query","description":"Provide full date as YYYYMMDD or year as YYYY","required":true,"schema":{"type":"string"}},{"name":"documentNumber","in":"query","description":"examples:  3205068  000757-00075","required":true,"schema":{"type":"string"}},{"name":"secondaryDocumentNumber","in":"query","description":"examples:  3205068  000757-00075","required":false,"schema":{"type":"string"}},{"name":"documentType","in":"query","required":false,"schema":{"type":"string","enum":["ASSIGNMENT","GRANT DEED","LAST VESTING DOCUMENT","MORTGAGE","NOTICE OF DEFAULT","NOTICE OF TRUSTEE SALE","POWER OF ATTORNEY","QUIT CLAIM DEED","RELEASE","UCC","WARRANTY DEED"]}},{"name":"outputType","in":"query","description":"PDF | TIFF (default is PDF if not specified)","required":false,"schema":{"type":"string","enum":["PDF","TIFF"]}}],"responses":{"500":{"description":"Internal server error","content":{}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Not Found","content":{}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentImageResponseData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"408":{"description":"Request Timeout"}}}},"/v2/avms/ram":{"get":{"tags":["rent-amount-model-controller"],"summary":"Rent Amount Model","description":"Rent Amount Model_v2 provides property level detail on modeled Estimated Rental Value of a property, which includes both Rental High Value and Rental Low Value, a Forecasted Standard Deviation Score and CAP Rate based on the model value. Rent Amount Model is used by Investors to evaluate potential properties for Rental Income.","operationId":"Rent Amount Model","parameters":[{"name":"clip","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RentAmountModelResponseData"}}}}}}},"/v2/properties/{clip}/site-location":{"get":{"tags":["site-location-controller"],"summary":"Site Location","description":"Property location endpoints including legal, location and neighborhood, property use codes, property lot size and utilities on over 152 million residential and non-residential.","operationId":"Site Location","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleApiResponseSiteLocationData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/liens/SolarPACE-lien/{clip}":{"get":{"tags":["solar-and-pace-controller"],"description":"Solar and PACE Liens API provides a broad look into the status of Solar contracts and PACE Liens related to a subject property (CLIP). Property-related Solar and PACE Liens against a property from services provided to the property.","operationId":"Solar and PACE Liens","parameters":[{"name":"clip","in":"path","description":"Corelogic unique identification number assigned to each property.","required":true,"schema":{"type":"string"},"example":2527873487}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SolarPACELiensRootResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/tax-assessments/latest":{"get":{"tags":["tax-assessment-controller"],"summary":"Tax Assessments","description":"Delivers a robust set of data elements that provides property value information including tax assessment and tax amount. Collected from the county Tax Assessor by CoreLogic, full Tax Roll county refreshes can be updated as frequently as twice a year by county. CoreLogic maintains Tax Roll data for 99.9% of counties nationwide.","operationId":"Tax Assessments","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaxAssessment"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/v2/properties/{clip}/transaction-history":{"get":{"tags":["transaction-history-controller"],"summary":"Transaction History Unrestricted","description":"Transaction History v2.0 API: Transaction History delivers Owner Transfer History and Mortgage History in a single API along with the mortgage coverage summary for the county.  Owner Transfer delivers buyer, seller, and transfer details on property transactions for sales and ownership transfers covering up to 50 years of sales history. Transactions include the individual change of ownership from both arms-length and non-arms-length transactions including cash, quitclaims, trust transfers, etc. with or without a mortgage(s). Mortgage History API provides nationwide property mortgage data for up to 50 years. Transactions include Primary/Junior mortgages & Purchase/Refi/Helocs. Details include borrower names, lender details with NMLS IDs, type of loan secured (e.g., conventional, FHA, VA), mortgage rate type, mortgage purpose (cash out first, consolidation, standalone subordinate, etc.), mortgage ARM features and mortgage indicators such as fixed rate, conforming loan, construction loan, private party and other indicators.","operationId":"Transaction History","parameters":[{"name":"clip","in":"path","description":"Unique Clip Id","required":true,"schema":{"type":"string"},"example":3454698973}],"responses":{"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseMessages"}}}},"404":{"description":"Clip not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionHistoryData"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}}},"components":{"schemas":{"ResponseMessage":{"type":"object","properties":{"messageType":{"type":"string","enum":["info","warning","error"]},"message":{"type":"string"}}},"ResponseMessages":{"type":"object","properties":{"messages":{"type":"array","items":{"$ref":"#/components/schemas/ResponseMessage"}}}},"ErrorResponse":{"type":"object","properties":{"ErrorResponse":{"type":"object","properties":{"httpStatus":{"type":"integer","format":"int32"},"message":{"type":"string"}}}}},"LandUseAndZoningCodes":{"type":"object","properties":{"propertyTypeCode":{"type":"string","description":"A CoreLogic general code used to easily recognize specific property types (e.g. Single Family Residence, Condominium, Commercial). This value was determined from property information upon receipt of the transaction and reflects the Property Indicator as a static value at that point in time."},"propertyTypeCodeDescription":{"type":"string","description":"Described value of the primaryTypeCode."},"landUseCode":{"type":"string","description":"A CoreLogic established Land Use code converted from various county Land Use codes to aid in search and extract functions. This value was captured from property information upon receipt of the transaction and reflects the Land Use as a static value at that point in time."},"landUseCodeDescription":{"type":"string","description":"Described value of landUseCode."},"stateLandUseDescription":{"type":"string","description":"State-specific secondary Land Use provide by the county.Â  This value was captured from property information upon receipt of the transaction and reflects the State Land Use Description as a static value at that point in time."},"countyLandUseDescription":{"type":"string","description":"Primary (e.g. highest) Land Use as established by the county or local taxing administration.Â  This value was captured from property information upon receipt of the transaction and reflects the County Use Description as a static value at that point in time."},"zoningCode":{"type":"string","description":"The data contained in this field is based upon County and/or Local established Zoning Codes and is not converted by CoreLogic."},"zoningCodeDescription":{"type":"string","description":"County provided zoning code description that describes the allowable land use for the real property."},"isManufacturedHome":{"type":"string","description":"This field is populated with a \"Y\" if a Manufactured Home is present on the parcel."}},"description":"Land Use And Zoning Codes Details"},"MailingPropertyAddress":{"type":"object","properties":{"careOfName":{"type":"string","description":"Care of Name for mail delivery."},"streetAddress":{"type":"string","description":"Full mail address (not including City/St/Zip) (e.g. 123 N Main St). This also contains unparsed foreign mailing address."},"streetAddressParsed":{"$ref":"#/components/schemas/StreetAddressParsed"},"city":{"type":"string","description":"The city associated with the mailing address."},"state":{"type":"string","description":"The two-letter USPS postal abbreviation associated with the state / protectorates / commonwealth (e.g., CA, VI, PR)."},"zipCode":{"type":"string","description":"Code assigned by the USPS. This is populated by various source files and other proprietary and non-proprietary processes. Data may be the 5-digit zip or 9-digit Zip+4 (e.g., 00501 or 954630042)."},"carrierRoute":{"type":"string","description":"This is the four digit code used by the local mail carrier to identify the delivery path."}}},"Message":{"type":"object","properties":{"messageType":{"type":"string","description":"Based on the clip data messageType will give the information about messageType is Success or Error."},"message":{"type":"string","description":"Based on the clip data message will give the information about whether data is found or not found"}}},"Metadata":{"type":"object","properties":{"pageNumber":{"type":"integer","format":"int64"},"pageSize":{"type":"integer","format":"int64"},"totalRecords":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int64"}},"description":"Meta Data"},"MortgageCoverageSummary":{"type":"object","properties":{"firstMortgageDate":{"type":"integer","description":"Recording date of the earliest mortgage record available in the database for the County.","format":"int32"},"lastMortgageDate":{"type":"integer","description":"Recording date of the most recent mortgage record available in the database for the County.","format":"int32"},"firstReleaseDate":{"type":"integer","description":"Recording date of the first release of mortgage record available in the database for the County.","format":"int32"},"lastReleaseDate":{"type":"integer","description":"Recording date of the most recent release of mortgage available in the database for the County.","format":"int32"},"standardizedCounty":{"type":"string","description":"CoreLogic standardized county name associated with the property address."},"standardizedState":{"type":"string","description":"CoreLogic standardized two-letter state postal abbreviation. (e.g. CA, TX)"}}},"MortgageTitleDetail":{"type":"object","properties":{"titleCompanyName":{"type":"string","description":"This is the Title Company associated with the sales transaction."},"titleCompanyCode":{"type":"string","description":"This is a CoreLogic internal code used to identify the Title Company that was associated with the sales transaction."}}},"MortgageTransactionIdDetail":{"type":"object","properties":{"mortgageCompositeTransactionId":{"type":"string","description":"Unique transaction key comprised of FIPS Code, Transaction Batch Date, Transaction Sequence Number, and Mortgage Sequence Number."},"mortgageChronologyNumber":{"type":"string","description":"CoreLogic derived number that identifies the parcel's chronology of mortgage transactions. The first 8 characters of the ChronoNbr is the date portion of the number."}}},"MortgageTransactionIndicatorDetail":{"type":"object","properties":{"conformingLoanIndicator":{"type":"integer","description":"CoreLogic standardized value that indicates if the mortgage loan is considered a conforming loan. Values: 0 or null = not applicable, 1= applicable.","format":"int32"},"equityLoanIndicator":{"type":"integer","description":"CoreLogic standardized value that indicates if the mortgage loan is an equity loan. Values: 0 or null = not applicable, 1= applicable.","format":"int32"},"nonconformingLoanIndicator":{"type":"integer","description":"CoreLogic standardized value that indicates if the mortgage loan is a non-conforming loan. Values: 0 or null = not applicable, 1= applicable.","format":"int32"},"otherSubordinateLoanIndicator":{"type":"integer","description":"CoreLogic standardized value that indicates if the mortgage loan is a subordinate lien. Values: 0 or null = not applicable, 1= applicable.","format":"int32"},"concurrentJuniorMortgageIndicator":{"type":"string","description":"Identifies a junior mortgage that is recorded simultaneous/concurrent/at the same time as the senior mortgage on the property."},"silentSecondMortgageIndicator":{"type":"string","description":"Identifies a junior mortgage where Seller is also the Lender."},"mortgageUpsellIndicator":{"type":"string","description":"Identifies a junior mortgage where Lender is an institution and is the same Lender as the senior mortgage."},"sellerCarryBackIndicator":{"type":"integer","description":"CoreLogic standardized value that indicates if part or all of the mortgage loan is carried by the seller. Values: 0 or null = not applicable, 1= applicable.","format":"int32"},"gseEligibleMortgageIndicator":{"type":"integer","description":"Indicates if a Government Sponsored Enterprise entity (GSE) Mortgage Rider was recorded with the mortgage loan. Values: 0 or null = not applicable, 1 = applicable.","format":"int32"}}},"NMLSDetail":{"type":"object","properties":{"loanOfficerNMLSId":{"type":"number","description":"Typically this field will contain First Deed of Trust (Purchase or Refinance) - Lender's NMLS ID.  This field may be NULL or Zero if loan is not required by the S.A.F.E. act to be recorded with NMLS information such as Equity line/loan."},"loanOfficerNMLSName":{"type":"string","description":"Typically this field will contain First Deed of Trust (Purchase or Refinance) - Lender Officer's NMLS Name.  This field may be NULL or Zero if loan is not required by the S.A.F.E. act to be recorded with NMLS information such as Equity line/loan."},"loanCompanyNMLSId1":{"type":"number","description":"Typically this field will contain First Deed of Trust (Purchase or Refinance) - NMLS ID associated with the Loan Origination.  This field may be NULL or Zero if loan is not required by the S.A.F.E. act to be recorded with NMLS information such as Equity line/loan."},"loanCompanyNMLSName1":{"type":"string","description":"Typically this field will contain First Deed of Trust (Purchase or Refinance) - Lender's NMLS Name. This field may be NULL or Zero if loan is not required by the S.A.F.E. act to be recorded with NMLS information such as Equity line/loan."},"loanCompanyNMLSId2":{"type":"number","description":"Typically this field will contain First Deed of Trust (Purchase or Refinance) - NMLS ID associated with the Loan Origination, if a second ID is listed on document.  A second NMLS ID may be listed on the mortgage document.  For example, a Loan Broker NMLS ID may be listed on the document in addition to the Lender NMLS ID.  This field may be NULL or Zero if loan is not required by the S.A.F.E. act to be recorded with NMLS information such as Equity line/loan."},"loanCompanyNMLSName2":{"type":"string","description":"Typically this field will contain First Deed of Trust (Purchase or Refinance) - Lender's NMLS Name.  This field may be NULL or Zero if loan is not required by the S.A.F.E. act to be recorded with NMLS information such as Equity line/loan."}}},"OwnershipTransfers":{"type":"object","properties":{"ownerTransferCompositeTransactionId":{"type":"string","description":"Unique transaction key comprised of FIPS Code, Transaction Batch Date, Transaction Sequence Number, and '000'.  FIPS Code + Transaction Batch Date + Transaction Sequence Number can be used to match up with Mortgage Composite Transaction ID."},"transactionDetails":{"$ref":"#/components/schemas/TransactionHistoryDetails"},"recordedPropertyAddress":{"$ref":"#/components/schemas/RecordedPropertyAddress"},"titleCompany":{"$ref":"#/components/schemas/TitleCompany"},"propertyDetails":{"$ref":"#/components/schemas/PropertyDetails"},"landUseAndZoningCodes":{"$ref":"#/components/schemas/LandUseAndZoningCodes"},"buyerDetails":{"$ref":"#/components/schemas/TransactionHistoryBuyerDetails"},"sellerDetails":{"$ref":"#/components/schemas/SellerDetails"}},"description":"Owner Transfer delivers buyer, seller, and transfer details on property transactions for sales and ownership transfers covering up to 50 years of sales history. Transactions include the individual change of ownership from both arms-length and non-arms-length transactions and includes all sales transactions including cash, quitclaims, trust transfers, etc. with or without a mortgage(s)."},"PropertyDetails":{"type":"object","properties":{"actualYearBuilt":{"type":"integer","description":"This is the construction year of the original building on the parcel as provided by the county.  Not all counties maintain both Original and Effective Year Built. Null if not available from the source. Format: YYYY","format":"int32"},"effectiveYearBuilt":{"type":"integer","description":"Typically this field reflects the first year the building was assessed with its current components (e.g., a building is originally constructed in 1960 and a bedroom and bath was added to the building in 1974. In this example, Year Built would be 1960 and the Effective Year Built would be 1974).   Certain counties only maintain one Year Built data element, and overlay Original Year Built with Effective Year Built if there was a structural change to the building that affected Assessed Value.  In these counties, Year Built will be null and Effective Year Built will contain the single data element provided by the source - examples include Fresno and San Diego counties.  Format: YYYY","format":"int32"},"isResidentialProperty":{"type":"string","description":"Indicates whether the property is residential. Y = yes or NULL = no or unknown."},"isNewConstruction":{"type":"integer","description":"CoreLogic standardized value that indicates the ownership transfer/sale is for a newly constructed property - usually the seller is the Builder and identified from information on Grant Deed.   0 = not applicable, 1= applicable.","format":"int32"}},"description":"Property Details"},"RecordedPropertyAddress":{"type":"object","properties":{"streetAddress":{"type":"string","description":"Full Situs address (not including City/St/Zip) (e.g. 123 N Main St)"},"streetAddressParsed":{"$ref":"#/components/schemas/StreetAddressParsed"},"city":{"type":"string","description":"The city associated with the property address."},"state":{"type":"string","description":"The two-letter USPS postal abbreviation associated with the state / protectorates / commonwealth (e.g., CA, VI)."},"zipCode":{"type":"string","description":"Code assigned by the USPS. This is populated by various source files and other proprietary and non-proprietary processes. Data may be the 5-digit zip or 9-digit Zip+4 (e.g., 00501 or 954630042)."},"carrierRoute":{"type":"string","description":"This is the four digit code used by the local mail carrier to identify the delivery path."},"county":{"type":"string","description":"Situs county name."}},"description":"Recorded Property Address Details"},"SellerDetails":{"type":"object","properties":{"sellerNames":{"type":"array","description":"Seller Names Details","items":{"$ref":"#/components/schemas/SellerName"}}},"description":"Seller Details"},"SellerName":{"type":"object","properties":{"sequenceNumber":{"type":"integer","description":"If there are multiple sellers, the sequenceNumber begins with 1 for the first seller and increases by one for each additional property seller.","format":"int32"},"fullName":{"type":"string","description":"CoreLogic standardized full seller name who is listed on the deed for the most recent sale transaction."}},"description":"Seller Names Details"},"StreetAddressParsed":{"type":"object","properties":{"houseNumber":{"type":"string","description":"The digits found to the left of a street name."},"houseNumberSuffix":{"type":"string","description":"The characters found to the immediate right of a house number (e.g., 202B Jones Rd)."},"houseNumber2":{"type":"string","description":"The second set of numbers in an address range."},"direction":{"type":"string","description":"This field represents the direction found to the left of the street name (e.g., 9340 N Dunhill Dr). AKA Directional Abbreviations, Pre-Directional."},"streetName":{"type":"string","description":"The name or number of the street where a parcel is located."},"mode":{"type":"string","description":"The Mode or Type of street found to the right of the street name (e.g., 9340 N Dunhill Dr). AKA Street Designators / Street Suffixes."},"quadrant":{"type":"string","description":"The quadrant is found to the right of Situs Mode (e.g., 2040 NW 100 ST SW). AKA Post-Directional."},"unitNumber":{"type":"string","description":"The unit or suite number of the mailing address (e.g., 649 Lake Shore Dr 1400)."}}},"SubjectTransactionDetail":{"type":"object","properties":{"subjectTransactionRecordingDate":{"type":"integer","description":"Recording Date of the subject transaction associated with this event. Format = YYYYMMDD.  Document sourced, refers to prior associated transaction.  Typically refers back to the Recording Date of the Deed of Trust/Mortgage.","format":"int32"},"subjectTransactionDocumentNumber":{"type":"string","description":"Document Number of the subject transaction associated with this event.  Document sourced, refers to prior associated transaction.  Typically refers back to the Document Number of the Deed of Trust/Mortgage."},"subjectTransactionDocumentBookNumber":{"type":"string","description":"Document Book Number of the subject transaction associated with this event.  Document sourced, refers to prior associated transaction.  Typically refers back to the Document Book Number of the Deed of Trust/Mortgage."},"subjectTransactionDocumentPageNumber":{"type":"string","description":"Document Page Number of the subject transaction associated with this event.  Document sourced, refers to prior associated transaction.  Typically refers back to the Document Page Number of the Deed of Trust/Mortgage."}}},"TitleCompany":{"type":"object","properties":{"name":{"type":"string","description":"This is the Title Company associated with the sales transaction."},"code":{"type":"string","description":"This is a CoreLogic internal code used to identify the Title Company that was associated with the sales transaction."}},"description":"Title Company Details"},"TransactionHistoryBorrowerDetail":{"type":"object","properties":{"borrowers":{"type":"array","items":{"$ref":"#/components/schemas/TransactionHistoryBorrowerNameDetail"}},"etalCode":{"type":"string","description":"A code appearing in this field indicates additional ownership, whose name(s) were not provided by our sources.  Values are: A = ET AL - AND OTHERS, C = ET CON - AND HUSBAND, U = ET UX - AND WIFE, V = ET VIR - AND HUSBAND."},"ownershipRightsCode":{"type":"string","description":"CoreLogic standardized code that indicates the type of vesting for current borrower or borrowers."},"ownershipRightsCodeDescription":{"type":"string","description":"CoreLogic standardized description that indicates the type of vesting for current borrower or borrowers."},"relationshipTypeCode":{"type":"string","description":"CoreLogic standardized code that identifies the relationship status of the current borrowers.  Used with Borrower Relationship Type Code Description element."},"relationshipTypeCodeDescription":{"type":"string","description":"CoreLogic standardized description that identifies the relationship status of the current borrowers.  Defines the code found in Borrower Relationship Type Code element."}},"description":"Borrower Details"},"TransactionHistoryBorrowerNameDetail":{"type":"object","properties":{"sequenceId":{"type":"integer","description":"If there are multiple borrowers, the sequenceNumber begins with 1 for the first borrower and increases by one for each additional property buyer.","format":"int32"},"borrowerFullName":{"type":"string","description":"Full Name of the BORROWER at the time of the transaction."},"borrowerFirstName":{"type":"string","description":"First Name of the BORROWER at the time of the transaction."},"borrowerMiddleInitial":{"type":"string","description":"Middle Initial of the BORROWER at the time of the transaction."},"borrowerLastName":{"type":"string","description":"Last name of the BORROWER at the time of the transaction."},"borrowerCorporateIndicator":{"type":"string","description":"Indicator that the BORROWER has been recognized as a corporation or business."}}},"TransactionHistoryBuyerDetails":{"type":"object","properties":{"buyerNames":{"type":"array","items":{"$ref":"#/components/schemas/TransactionHistoryBuyerName"}},"relationshipTypeCode":{"type":"string","description":"Relationship between multiple owners or marital status."},"relationshipTypeCodeDescription":{"type":"string","description":"Described value of relationshipTypeCode."},"etalCode":{"type":"string","description":"A code appearing in this field indicates additional ownership, whose name(s) were not provided by our sources. Values are:\nA = ET AL - AND OTHERS\nC = ET CON - AND HUSBAND\nU = ET UX - AND WIFE\nV = ET VIR - AND HUSBAND."},"occupancyCode":{"type":"string","description":"CoreLogic derived code that indicates if the property buyer intends to reside  at the situs (property site). Values of M, O, and S indicate buyer occupied (A and T reflect absentee buyers)."},"ownershipRightsCode":{"type":"string","description":"Form or method of property ownership (e.g., Joint Tenants, Living Trust)."},"ownershipRightsCodeDescription":{"type":"string","description":"CoreLogic standardized description that indicates the type of vesting for current borrower or borrowers.)."},"mailingAddress":{"$ref":"#/components/schemas/MailingPropertyAddress"},"hasPartialInterest":{"type":"string","description":"An indicator showing the Owner/Buyer has a partial interest in the property."},"mailingOptOutIndicator":{"type":"string","description":"A \"Y\" represents a record where buyer has contacted the DMA (i.e., Direct Marketing Association) and has asked not to be contacted by mail for solicitation."}},"description":"Transaction History Buyer Details"},"TransactionHistoryBuyerName":{"type":"object","properties":{"sequenceNumber":{"type":"integer","description":"If there are multiple buyers, the sequenceNumber begins with 1 for the first buyer and increases by one for each additional property buyer.","format":"int32"},"fullName":{"type":"string","description":"Full name of the buyer at the time of transfer."},"lastName":{"type":"string","description":"Last name of the buyer."},"firstNameAndMiddleInitial":{"type":"string","description":"First Name and Middle Initial of the buyer."},"isCorporate":{"type":"string","description":"Indicator that the buyer has been recognized as a corporation or business."}}},"TransactionHistoryData":{"type":"object","properties":{"clip":{"type":"string","description":"CoreLogic Unique identification number assigned to each property."},"messages":{"type":"array","items":{"$ref":"#/components/schemas/Message"}},"metadata":{"$ref":"#/components/schemas/Metadata"},"mortgageCoverageSummary":{"$ref":"#/components/schemas/MortgageCoverageSummary"},"items":{"type":"array","description":"Transaction History Items","items":{"$ref":"#/components/schemas/TransactionHistoryItems"}}}},"TransactionHistoryDetails":{"type":"object","properties":{"primaryCategoryCode":{"type":"string","description":"CoreLogic proprietary transaction classification code that identifies the type of transaction."},"primaryCategoryCodeDescription":{"type":"string","description":"Described value of the primaryCategoryCode."},"deedCategoryCode":{"type":"string","description":"CoreLogic proprietary deed category type code that identifies the class of recorded legal document."},"deedCategoryCodeDescription":{"type":"string","description":"Described value of the deedCategoryCode."},"saleDateDerived":{"type":"string","description":"CoreLogic proprietary sale date derived from the original public record filing, representing the date that the Deed was prepared in advance of being notarized and prior to being recorded. Format: YYYYMMDD."},"saleRecordingDateDerived":{"type":"string","description":"CoreLogic proprietary sale recording date derived from the original public record filing, representing the date the sales transaction was recorded at the county. This date is generally considered the transfer of ownership date. Format: YYYYMMDD."},"saleAmount":{"type":"number","description":"Dollar amount of the most recent sale of the property."},"saleTypeCode":{"type":"string","description":"This field indicates what the financial consideration is - if a Deed record represents a change of ownership (Sale)."},"saleTypeCodeDescription":{"type":"string","description":"Described value of the saleTypeCode."},"saleDocumentTypeCode":{"type":"string","description":"The type of deed used to record the sales transaction (e.g., Grant, Quit, Foreclosure)."},"saleDocumentTypeCodeDescription":{"type":"string","description":"Described value of the saleDocumentTypeCode."},"saleDocumentNumber":{"type":"string","description":"The document number used by some counties to record sales transactions - typically a Grant or Warranty Deed."},"saleBookNumber":{"type":"string","description":"The Book number used by some counties to catalog their sales recordings."},"salePageNumber":{"type":"string","description":"The Page number used by some counties to catalog their sales recordings."},"ownershipTransferPercent":{"type":"integer","description":"A percentile showing the percentage of ownership transferred.","format":"int32"},"multiOrSplitParcelCode":{"type":"string","description":"CoreLogic standardized code that identifies which parcel is being referenced in a multiple or split parcel sale. Values: EMPTY/NULL = Not applicable, M = First parcel of a multiple parcel transaction, D = Subsequent parcel of a multiple parcel transaction, S = Single parcel transaction where parcel is annotated as a portion of or with other property, Z = Multiple parcel transaction where parcel is annotated as a portion of or with other property."},"isCashPurchase":{"type":"integer","description":"CoreLogic proprietary value that identifies if the property was a cash-based arms-length transaction. 0 = not applicable, 1= applicable.","format":"int32"},"isMortgagePurchase":{"type":"integer","description":"CoreLogic proprietary value that identifies if the property has a mortgage.0 = not applicable, 1= applicable.","format":"int32"},"isInterfamilyRelated":{"type":"integer","description":"CoreLogic proprietary value that indicates if a potential relationship between the seller and the buyer of the property exists. This could be interfamily, intercompany, or trust transfer (non-arms length transaction).0 = not applicable, 1= applicable.","format":"int32"},"isInvestorPurchase":{"type":"integer","description":"CoreLogic proprietary value that indicates if the buyer bought the property for investment purposes. 0 = not applicable, 1= applicable.","format":"int32"},"isResale":{"type":"integer","description":"CoreLogic standardized value that indicates whether the transaction is considered a resale of an existing property. 0 = not applicable, 1= applicable.","format":"int32"},"isShortSale":{"type":"integer","description":"CoreLogic proprietary indicator that identifies if the property sale is considered a short sale.  0 = not applicable, 1= applicable.","format":"int32"},"isForeclosureReo":{"type":"integer","description":"CoreLogic proprietary value that indicates whether the transaction was a completed foreclosure where the bank took back ownership of the property (REO).  0 = not applicable, 1= applicable.","format":"int32"},"isForeclosureReoSale":{"type":"integer","description":"CoreLogic proprietary value that indicates that the bank sold the REO to a third party. 0 = not applicable, 1= applicable.","format":"int32"}},"description":"Transaction Details"},"TransactionHistoryItems":{"type":"object","properties":{"ownershipTransfers":{"type":"array","description":"Owner Transfer delivers buyer, seller, and transfer details on property transactions for sales and ownership transfers covering up to 50 years of sales history. Transactions include the individual change of ownership from both arms-length and non-arms-length transactions and includes all sales transactions including cash, quitclaims, trust transfers, etc. with or without a mortgage(s).","items":{"$ref":"#/components/schemas/OwnershipTransfers"}},"mortgageHistory":{"type":"array","description":"Includes up to 4 owners, owner addresses and other owner details on over 152 million residential and non-residential properties.","items":{"$ref":"#/components/schemas/TransactionHistoryMortgageDetail"}}},"description":"Transaction History Items"},"TransactionHistoryLenderDetail":{"type":"object","properties":{"lenderCompanyCode":{"type":"string","description":"CoreLogic standardized lender code that identifies the mortgage lender (e.g., Bank of America = 000003)."},"lenderCompanyName":{"type":"string","description":"CoreLogic proprietary and standardized name of lender from CoreLogic proprietary Lender Code table.  "},"lenderFullName":{"type":"string","description":"Full name of Lender as recorded on the original document when no CoreLogic Lender Company Code exists. "},"lenderLastName":{"type":"string","description":"Name of Lender's Last Name as recorded on the original document when Lender is a Private Party."},"lenderFirstName":{"type":"string","description":"Name of Lender's First Name as recorded on the original document when Lender is a Private Party."},"lenderAddress":{"type":"string","description":"Address of the Lender as recorded on the original document."},"lenderCity":{"type":"string","description":"Lender City as recorded on the original document."},"lenderState":{"type":"string","description":"Lender State as recorded on the original document."},"lenderZipCode":{"type":"string","description":"Lender ZIP code as recorded on the original document."},"lenderPostToCode":{"type":"string","description":"Standardized grouped Lender Code when 2 or more Lender Name variations exist or when CoreLogic aggregates smaller lenders into a single group (Ex. 000252.)"},"lenderPostToName":{"type":"string","description":"Corresponding Lender Name that correlates with Lender Post-To Code. (Ex. 000252 matches to Other Institution Lenders.)"}},"description":"Lender Details"},"TransactionHistoryMortgageArmDetail":{"type":"object","properties":{"initialResetDate":{"type":"integer","description":"CoreLogic derived interest rate change date for an adjustable mortgage. First interest rate reset date. Format: YYYYMMDD.","format":"int32"},"changeInterval":{"type":"integer","description":"Identifies the number of intervals for interest rate changes for an adjustable mortgage. Numeric value in conjunction with MORTGAGE ARM FREQUENCY.","format":"int32"},"frequency":{"type":"string","description":"Indicates the measurement of time in relation to the interest rate reset/change of the adjustable mortgage. Values: W = Weekly; M = Monthly; Q = Quarterly; Y = Yearly."},"calculationChange":{"type":"number","description":"Percentage points added to the Index rate to calculate the new interest rate. Value added to current index to determine new interest rate. Only for adjustable rate mortgages."},"maximumInterestRate":{"type":"number","description":"Maximum interest rate allowed per the life of the loan. Lifetime interest rate maximum. Only for adjustable rate mortgages."},"indexType":{"type":"string","description":"Indicates which index is used to determine the adjustable mortgage interest rate.\nValue Description\nSOF    SOFR\nLIB    LIBOR\nCMT    Constant Maturity Treasury\nMTA    Monthly Treasury Average\nLAM    LAMA\nPRM    Prime\nDIS    11th District\nBIL    Treasury Bill\nFNM    FNMA (Fannie Mae)\nOTH    Other"},"changePercentLimit":{"type":"number","description":"Maximum amount the interest rate may increase or decrease for any one adjustment period of the adjustable mortgage. Limit on interest rate change for any single adjustment."},"initialChangeMaxPercent":{"type":"number","description":"Maximum interest rate the adjustable mortgage loan rate can increase from the initial interest rate as per the recorded loan documents. Maximum allowable interest rate indicated on initial reset."},"lookbackPeriod":{"type":"integer","description":"The number of days back from interest rate change date to acquire index value.","format":"int32"},"paymentChangeDate":{"type":"integer","description":"Date of payment change (if different than interest rate change date). Format: YYYYMMDD.","format":"int32"},"payOptionIndicator":{"type":"integer","description":"CoreLogic standardized flag that indicates if the mortgage loan has payment options such as interest only, interest and principal or interest and principal with a lump sum. '0 or null = Not Applicable, 1 = Applicable'.","format":"int32"},"interestOnlyIndicator":{"type":"integer","description":"CoreLogic standardized flag that indicates the mortgage loan is an interest only payment loan. '0 or null = Not Applicable, 1 = Applicable'.","format":"int32"},"negativeAmortizationIndicator":{"type":"integer","description":"CoreLogic standardized flag that indicates if the mortgage loan has a negative amortization clause. '0 or null = Not Applicable, 1 = Applicable'.","format":"int32"},"prepaymentRiderIndicator":{"type":"string","description":"CoreLogic standardized value that indicates if the mortgage loan contains a prepayment rider. 'Y' = Prepayment Rider present."},"categoryCode":{"type":"string","description":"CoreLogic internal code that identifies the type of Adjustable Rate Mortgage (ARM) loan. Values: NULL = Not Applicable, A = Alternative, H = Hybrid, O = Other, S = Subprime, R = Reverse"}},"description":"Mortgage Arm Details"},"TransactionHistoryMortgageDetail":{"type":"object","properties":{"mortgageTransactionIdDetail":{"$ref":"#/components/schemas/MortgageTransactionIdDetail"},"mortgageTransactionDetail":{"$ref":"#/components/schemas/TransactionHistoryMortgageTransactionDetail"},"mortgageTransactionIndicatorDetail":{"$ref":"#/components/schemas/MortgageTransactionIndicatorDetail"},"mortgageRiderDetail":{"$ref":"#/components/schemas/TransactionHistoryMortgageRiderDetail"},"borrowerDetail":{"$ref":"#/components/schemas/TransactionHistoryBorrowerDetail"},"principalDetail":{"$ref":"#/components/schemas/TransactionHistoryPrincipalDetail"},"lenderDetail":{"$ref":"#/components/schemas/TransactionHistoryLenderDetail"},"mortgageTitleDetail":{"$ref":"#/components/schemas/MortgageTitleDetail"},"nmlsDetail":{"$ref":"#/components/schemas/NMLSDetail"},"mortgageArmDetail":{"$ref":"#/components/schemas/TransactionHistoryMortgageArmDetail"},"subjectTransactionDetail":{"$ref":"#/components/schemas/SubjectTransactionDetail"}},"description":"Includes up to 4 owners, owner addresses and other owner details on over 152 million residential and non-residential properties."},"TransactionHistoryMortgageRiderDetail":{"type":"object","properties":{"plannedUnitDevelopmentRiderIndicator":{"type":"integer","description":"Indicates if a Planned Unit Development (PUD) Rider was recorded with the mortgage loan. 0 or null = not applicable, 1= applicable.","format":"int32"},"multifamilyRiderIndicator":{"type":"integer","description":"Indicates if a Multifamily Rider was recorded with the mortgage loan. 0 or null = not applicable, 1= applicable.","format":"int32"},"condominiumRiderIndicator":{"type":"integer","description":"Indicates if a Condominium Rider was recorded with the mortgage loan. 0 or null = not applicable, 1= applicable.","format":"int32"},"secondHomeRiderIndicator":{"type":"integer","description":"Indicates if a  Second Home Rider was recorded with the mortgage loan. 0 or null = not applicable, 1= applicable. ","format":"int32"},"variableRiderIndicator":{"type":"string","description":"CoreLogic standardized value that indicates if the mortgage loan contains an adjustable or variable rate rider. 0 or null = not applicable, 1= applicable."}},"description":"Mortgage Rider Details"},"TransactionHistoryMortgageTransactionDetail":{"type":"object","properties":{"multiOrSplitParcelCode":{"type":"string","description":"CoreLogic standardized code that identifies which parcel is being referenced in a multiple or split parcel sale. Values: EMPTY/NULL = Not applicable, M = First parcel of a multiple parcel transaction, D = Subsequent parcel of a multiple parcel transaction, S = Single parcel transaction where parcel is annotated as a portion of or with other property, Z = Multiple parcel transaction where parcel is annotated as a portion of or with other property."},"primaryCategoryCode":{"type":"string","description":"CoreLogic proprietary transaction classification code that identifies the type of transaction."},"primaryCategoryCodeDescription":{"type":"string","description":"Described value of the PrimaryCategoryCode"},"deedCategoryCode":{"type":"string","description":"CoreLogic proprietary deed category type code that identifies the class of recorded legal document."},"deedCategoryCodeDescription":{"type":"string","description":"Described value of the DeedCategoryCode."},"amount":{"type":"number","description":"The amount of the mortgage at the time of the transaction."},"date":{"type":"integer","description":"Borrower's signature date on mortgage/deed of trust.  This represents the date the borrower's obligation to the lender begins, i.e. loan open date.  This date is the same or prior to the recording date. If the day and/or month is missing, CoreLogic populates these values with 00. Format: YYYYMMDD.","format":"int32"},"recordingDate":{"type":"integer","description":"The date the mortgage transaction was recorded at the county.  Format: YYYYMMDD.","format":"int32"},"interestRateTypeCode":{"type":"string","description":"CoreLogic standardized value indicating the type of mortgage interest rate. Values: NULL = Unknown, ADJ = Adjustable, BAL = Balloon, FIX = Fixed"},"interestRate":{"type":"number","description":"Beginning interest rate per the recorded loan documents for Adjustable Rate Mortgage and the fixed interest rate for all other mortgage records."},"loanTypeCode":{"type":"string","description":"Type of loan secured (e.g., Conventional, FHA, VA)."},"loanTypeCodeDescription":{"type":"string","description":"Describes the loanTypeCode"},"documentTypeCode":{"type":"string","description":"Type of deed used for recording (e.g., Mortgage, Loan Modification Agreement, Deed of Trust)."},"documentTypeCodeDescription":{"type":"string","description":"Describes the documentTypeCode."},"documentNumber":{"type":"string","description":"The document number used by some counties to record mortgage transactions."},"documentBookNumber":{"type":"string","description":"The Book number used by some counties to catalog their mortgage recordings."},"documentPageNumber":{"type":"string","description":"The Page number used by some counties to catalog their mortgage recordings."},"termCode":{"type":"string","description":"Code used to identify whether the number stored in MORTGAGE TERM is in days, months or years."},"term":{"type":"integer","description":"Specific time period that identifies the mortgage due or maturity term. Corresponds with the MORTGAGE TERM CODE field.","format":"int32"},"dueDate":{"type":"integer","description":"The date the mortgage becomes due. If the day and/or month is missing, CoreLogic populates these values with '00'.  Format: YYYYMMDD.  May be derived.","format":"int32"},"mortgageTypeCode":{"type":"string","description":"CoreLogic standardized mortgage classification for principal mortgages ('P'urchase, 'R'efinance) or subordinate mortgages ('J'unior)."},"purposeCode":{"type":"string","description":"CoreLogic standardized value indicating the reason for the principal or subordinate mortgage. Values: A = Cash out first, B = Rate/Term reduction, C = Piggy-back on purchase, D = Standalone subordinate, E = First with subordinate, F = New first mortgage, K = Consolidation, L = Undetermined first mortgage, M = Undetermined standalone subordinate, N = Piggy-back on refinance, O = HUD reverse mortgage, P = First trust modification, Q = Junior trust modification, V = Reverse mortgage"},"subordinateTypeCode":{"type":"string","description":"CoreLogic standardized value indicating the type of subordinate mortgage secured. (e.g., 'C'redit Line, 'E'quity, Ba'L'loon)"},"subordinateTypeCodeDescription":{"type":"string","description":"CoreLogic standardized description indicating the type of subordinate mortgage secured. (e.g. Credit Line, Equity, Balloon).  Described value of subordinateTypeCodeDescription."},"downPayment":{"type":"number","description":"Cash down amount at time of purchase (Available in limited geographies only)."},"lienPosition":{"type":"integer","description":"The order a mortgage is in lien prioirty for all open mortgages.","format":"int32"},"statusIndicator":{"type":"string","description":"Corelogic standardized value indicating if a mortgage is currently open, closed by event, in pre-foreclosure, or foreclosed. Values: R = Mortgage Released, P = Mortgage Paid Off, O = Open Mortgage, U = Foreclosed On, F = Pre-Foreclosure Filed, Null = Undetermined"},"releaseDate":{"type":"integer","description":"Recording date of the mortgage Release/Reconveyance. Format: YYYYMMDD","format":"int32"},"payoffType":{"type":"string","description":"Corelogic standardized value that indicates the type of event used to determine mortgage was paid in full. Values: A = Subsequent arm length sale, B = Subsequent non-arm length sale that is classified to pay off mortgage, C = Paid off by a consolidation, modification and extension agreement (DocTyp = \"CE\", New York only), E = Non-construction balloon mortgage that expired, F = Subsequent purchase or refinance mortgage, H = Release for the mortgage was recorded, Null = Not paid off"},"payoffDate":{"type":"integer","description":"Date of the event that paid off the mortgage in full.  The event can be a release/reconveyance (hard-close), or can be derived from logic to determine mortgage was paid in full. Format: YYYYMMDD","format":"int32"}},"description":"Transaction History Mortgage Transaction Details"},"TransactionHistoryPrincipalDetail":{"type":"object","properties":{"principalTitle":{"type":"string","description":"Title of first signatory on Mortgage or Deed of Trust."},"principalNameSuffix":{"type":"string","description":"Name suffix associated with the first signatory on the Mortgage/Deed of Trust."},"principalFullName":{"type":"string","description":"Full name of first signatory or Company Name on the Mortgage or Deed of Trust."},"principalFirstName":{"type":"string","description":"First name of first signatory on the Mortgage/Deed of Trust."},"principalMiddleInitial":{"type":"string","description":"Middle Name of first signatory on the Mortgage/Deed of Trust."},"principalLastName":{"type":"string","description":"Last name of first signatory on the Mortgage/Deed of Trust."}},"description":"Transaction History Principal Details"},"AssessedValue":{"type":"object","properties":{"taxAssessedYear":{"type":"integer","description":"The assessment year for which the taxes were billed.","format":"int32"},"calculatedTotalValue":{"type":"number","description":"The \"TOTAL\" (i.e., Land + Improvement) Value closest to current market value used for assessment by county or local taxing authorities."},"calculatedLandValue":{"type":"number","description":"The \"LAND\" Value closest to current market value used for assessment by county or local taxing authorities."},"calculatedImprovementValue":{"type":"number","description":"The \"IMPROVEMENT\" Value closest to current market value used for assessment by county or local taxing authorities."},"calculatedImprovementValuePercentage":{"type":"integer","description":"The \"IMPROVEMENT\" percentage indicates the percentage of assessed value allocated to improvements.","format":"int32"},"calculatedTotalValueSourceCode":{"type":"string","description":"The code appearing in this indicator field reflects the type of values used to seed the TOTAL VALUE CALCULATED field (i.e., A = Assessed, M = Market, P = Appraised, T = Transitional)."},"taxableValue":{"type":"number","description":"Assessed value less exemptions. Value on which property taxes are based."},"taxableImprovementValue":{"type":"number","description":"County provided value of the improvement applied to the parcel used in the calculation of the tax bill."},"taxableLandValue":{"type":"number","description":"County provided land value of a parcel used in the calculation of the tax bill."},"taxableOtherValue":{"type":"number","description":"County provided land value of fixture, features or miscellaneous values used in the calculation of the tax bill. "}},"description":"Assessed Value."},"CommunityCollege":{"type":"object","properties":{"code":{"type":"string","description":"District or entity responsible for administration of community colleges."},"name":{"type":"string","description":"Community college district name responsible for administration of community colleges."}},"description":"Community College."},"Elementary":{"type":"object","properties":{"code":{"type":"string","description":"District or entity responsible for administration of elementary schools."},"name":{"type":"string","description":"Name of the district or entity responsible for administration of elementary schools."}},"description":"Elementary School."},"Fire":{"type":"object","properties":{"code":{"type":"string","description":"County provided code which represents the county-designated area where parcels share a common fire district and fire houses."},"name":{"type":"string","description":"County provided name which represents the county-designated area where parcels share a common fire district and fire houses."}},"description":"Fire."},"High":{"type":"object","properties":{"code":{"type":"string","description":"High School or Secondary School District in which the property is located."},"name":{"type":"string","description":"Name of the High School or Secondary School District in which the property is located."}},"description":"High School."},"Item":{"type":"object","properties":{"clip":{"type":"string","description":"Unique identification number assigned to each property."},"taxAmount":{"$ref":"#/components/schemas/TaxAmount"},"taxExemptions":{"$ref":"#/components/schemas/TaxExemptions"},"assessedValue":{"$ref":"#/components/schemas/AssessedValue"},"taxrollUpdate":{"$ref":"#/components/schemas/TaxrollUpdate"},"schoolDistricts":{"$ref":"#/components/schemas/SchoolDistricts"},"serviceDistricts":{"$ref":"#/components/schemas/ServiceDistricts"}},"description":"Items."},"Lighting":{"type":"object","properties":{"code":{"type":"string","description":"Code of the county-designated area where parcels share a common lightning district for the specific function of acquiring insurance."},"name":{"type":"string","description":"Name of the county-designated area where parcels share a common lightning district for the specific function of acquiring insurance."}},"description":"Lighting."},"Middle":{"type":"object","properties":{"code":{"type":"string","description":"District or entity responsible for administration of middle schools."},"name":{"type":"string","description":"Name of the district or entity responsible for administration of middle schools."}},"description":"Middle School."},"School":{"type":"object","properties":{"code":{"type":"string","description":"Name of district or entity responsible for administration of public schools."},"name":{"type":"string","description":"Tax or assessment exemption associated with a school or other educational facility."},"elementary":{"$ref":"#/components/schemas/Elementary"},"middle":{"$ref":"#/components/schemas/Middle"},"high":{"$ref":"#/components/schemas/High"},"communityCollege":{"$ref":"#/components/schemas/CommunityCollege"}},"description":"School."},"SchoolDistricts":{"type":"object","properties":{"school":{"$ref":"#/components/schemas/School"}},"description":"School Districts."},"ServiceDistricts":{"type":"object","properties":{"fire":{"$ref":"#/components/schemas/Fire"},"trash":{"$ref":"#/components/schemas/Trash"},"lighting":{"$ref":"#/components/schemas/Lighting"},"tax":{"$ref":"#/components/schemas/Tax"},"sewer":{"$ref":"#/components/schemas/Sewer"},"utility":{"$ref":"#/components/schemas/Utility"},"water":{"$ref":"#/components/schemas/Water"}},"description":"Service Districts."},"Sewer":{"type":"object","properties":{"code":{"type":"string","description":"County-provided code for an area where parcels share a common county designated sewer management authority."},"name":{"type":"string","description":"County-provided name for an area where parcels share a common county designated sewer management authority."}},"description":"Sewer."},"Tax":{"type":"object","properties":{"code":{"type":"string","description":"Identifies the county provided tax district code associated with a parcel."},"name":{"type":"string","description":"Name of the district or entity responsible for appraising property for property tax purposes."}},"description":"Tax."},"TaxAmount":{"type":"object","properties":{"billedYear":{"type":"integer","description":"The tax year for which the taxes were billed.","format":"int32"},"delinquentYear":{"type":"integer","description":"County provided year the delinquent property taxes were due. Format: YYYY","format":"int32"},"areaCode":{"type":"string","description":"CoreLogic standardized code that identifies the tax area associated with the parcel."},"areaCodeDescription":{"type":"string","description":"The corresponding description for the CoreLogic standardized code that identifies the tax area associated with the parcel."},"propertyTaxRate":{"type":"number","description":"County provided tax rate for the property based on Property Taxes billed through the county.."},"calculatedTotalExemptionAmount":{"type":"number","description":"calculated Total Exemption Amount"},"totalTaxExemptionAmount":{"type":"number","description":"County provided value of buildings and land that are exempt from taxes on the parcel. "},"totalTaxAmount":{"type":"number","description":"Total billed property tax amount for the current tax year."},"countyTaxAmount":{"type":"number","description":"Property tax levied by an individual county. Used in counties with multiple taxing jurisdictions reporting separately. (Ex: a parcel may be subject to a County Tax, City Tax, and School District Tax)"},"schoolTaxAmount":{"type":"number","description":"Property tax levied by a school district. Used in counties with multiple taxing jurisdictions reporting separately."},"townTaxAmount":{"type":"number","description":"Town Tax Amount"},"villageTaxAmount":{"type":"number","description":"Property tax levied by a village. (Village is an administrative division within a town or township.)"},"netTaxAmount":{"type":"number","description":"Property tax amount less exemptions and/or credits."}},"description":"Tax Amount."},"TaxAssessment":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/Metadata"},"items":{"type":"array","description":"Items.","items":{"$ref":"#/components/schemas/Item"}}}},"TaxExemptions":{"type":"object","properties":{"commercial":{"type":"array","description":"Returns applicable exemptions from the following list: AGRICULTURE, CHARITY, GOVERNMENT, RELIGIOUS, EDUCATION, UTILITY","items":{"type":"string","description":"Returns applicable exemptions from the following list: AGRICULTURE, CHAR
[...]
